ShoesPDA2/Web References/C3DBWebServices/Routes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RoutesList">
        <s:complexType />
      </s:element>
      <s:element name="RoutesListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RoutesListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadReports">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_list" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="useDb" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UploadReportsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadReportsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadReportsTrans">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_list" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="useDb" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadReportsTransResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadReportsTransResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="RoutesListSoapIn">
    <wsdl:part name="parameters" element="tns:RoutesList" />
  </wsdl:message>
  <wsdl:message name="RoutesListSoapOut">
    <wsdl:part name="parameters" element="tns:RoutesListResponse" />
  </wsdl:message>
  <wsdl:message name="UploadReportsSoapIn">
    <wsdl:part name="parameters" element="tns:UploadReports" />
  </wsdl:message>
  <wsdl:message name="UploadReportsSoapOut">
    <wsdl:part name="parameters" element="tns:UploadReportsResponse" />
  </wsdl:message>
  <wsdl:message name="UploadReportsTransSoapIn">
    <wsdl:part name="parameters" element="tns:UploadReportsTrans" />
  </wsdl:message>
  <wsdl:message name="UploadReportsTransSoapOut">
    <wsdl:part name="parameters" element="tns:UploadReportsTransResponse" />
  </wsdl:message>
  <wsdl:portType name="RoutesSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RoutesList">
      <wsdl:input message="tns:RoutesListSoapIn" />
      <wsdl:output message="tns:RoutesListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadReports">
      <wsdl:input message="tns:UploadReportsSoapIn" />
      <wsdl:output message="tns:UploadReportsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadReportsTrans">
      <wsdl:input message="tns:UploadReportsTransSoapIn" />
      <wsdl:output message="tns:UploadReportsTransSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RoutesSoap" type="tns:RoutesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RoutesList">
      <soap:operation soapAction="http://tempuri.org/RoutesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadReports">
      <soap:operation soapAction="http://tempuri.org/UploadReports" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadReportsTrans">
      <soap:operation soapAction="http://tempuri.org/UploadReportsTrans" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RoutesSoap12" type="tns:RoutesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RoutesList">
      <soap12:operation soapAction="http://tempuri.org/RoutesList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadReports">
      <soap12:operation soapAction="http://tempuri.org/UploadReports" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadReportsTrans">
      <soap12:operation soapAction="http://tempuri.org/UploadReportsTrans" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Routes">
    <wsdl:port name="RoutesSoap" binding="tns:RoutesSoap">
      <soap:address location="http://ares15:8070/Routes.asmx" />
    </wsdl:port>
    <wsdl:port name="RoutesSoap12" binding="tns:RoutesSoap12">
      <soap12:address location="http://ares15:8070/Routes.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>